.live-feed-box {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: min-content;
    height: auto;
    width: 100%;
    background: rgba(217, 217, 271, 0.3);
}

.videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    width: 100%;
    height: 100%;
    }

.options-container {
    grid-column-start: 1;
    grid-column-end: 2;
    position: relative;
    display: flex;
}

.summary {
    right: 0;
    height: 99%;
    background: #D9D9D9;
    border-radius: 5px;
    margin: 5px;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

button[type=more-data] {
    width: 95%;
} 

input[type=file] {
    box-shadow: none;
    background-color: #D9D9D9;
    width: 80%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

input[type=file]::file-selector-button {
    background: linear-gradient(90deg, var(--accent-1), var(--accent-2));
    background-color: #FBD902;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    font-weight: bold;
    color: #000;
    transition: all 250ms ease;
    font-size: 1.0rem;
    width: auto;
    box-shadow: 0 2px 10px;
}
  

table{
    border: 1px solid white;
}

td {
    border: 1px solid white;
}

.summary-table-count, .summary-table-time{
    margin: 0 auto;
    width: 99%;
}


#car {
    padding: 10px;
}

.lol {
    /* border: 2px red solid; */
    width: 120%;
    
}

.kyle {
    background-color: purple;
    padding: 25rem;
    margin: 0 auto;
}

