.App {
  text-align: center;
  /* width: 100%; */
  /* height: 100vh; */
  /* background-color: #1b1b32; */
  font-size: 16px;
  display: flex;
  justify-content: center;
}

form {
  width: 60vw;
  margin: 50% auto;
  max-width: 500px;
  min-width: 300px;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: right;
  width: 400px;
  /* line-height: 26px; */
  /* margin-bottom: 10px; */
}

input[type="text"],
input[type="password"] {
  display: flexbox;
  flex-direction: row;
  justify-content: center;
  margin-left: 10px;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

fieldset{
  width: 300px;
  margin: auto;
}

button[type="submit"]:hover {
  background: #6cf0c2;
}

button[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
}
