body {
  background-color: #2C4965;
  background-image: url("../public/bg.png");
  
  background-repeat: no-repeat;
  background-size: cover;

}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

fieldset{
  width: 300px;
  margin: auto;
}

/* login items */

/* not yet used
.banner {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 30px;
} */

.login-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-form {
  /* background-color: #242424; */
  /* border-radius: 16px; */
  /* box-shadow: 1px 3px 30px rgba(0, 0, 0, 0.6); */

  padding: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form label {
  font-size: 1.1rem;
}

.btn-wrapper {
  text-align: center;
}

.btn-login {
  background: linear-gradient(90deg, var(--accent-1), var(--accent-2));
  background-color: #FBD902;
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  font-weight: bold;
  color: #000;
  transition: all 250ms ease;
  font-size: 1.0rem;
  width: 50%;
}

#btn-login:hover {
  cursor: pointer;
  filter: brightness(110%);
}

.btn-login[type="btn-shadow"]{
  box-shadow: 0 2px 10px;
}

.btn-login:hover {
  background: #6cf0c2;
}

button[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
}

.error {
  font-weight: normal;
  opacity: 80%;
}

form {
  width: 60vw;
  margin: 0 auto;
  max-width: 500px;
  min-width: 300px;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px; 
}

.login-form.username, .login-form.password{
  box-shadow: 0 2px 10px;
  background-color: #D9D9D9;
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* -- change from red box at the bottom of the page --
.error {
  align-self: auto;
  width: 100%;
  border: red solid 2px;
  color: red;
  font-size: 20px;

} */

/* forgot password items  */

input[type="forgot-input"] {
  background-color: #D9D9D9;
  width: 80%;
  padding: 12px 20px;
  margin: auto;
  border: 1px solid #FFFF;
} 

label[type="forgot-username"] {
  margin: auto;
  padding: 5px;
}

.forgot-pw {
  color: #ccc;
  text-align: center;
}

.forgot-pass-container {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 2px;
  box-shadow: 0 2px 10px;
  background-color: #FFFF;
}

.idk {
  color: white;
}